@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header, .main-index, .main-inner, .page-footer {
  width: 1200px;
  margin: 0 auto;
}

.main-index, .main-inner {
  flex-grow: 1;
}

.main-header, .main-index {
  background-color: #fff;
}

.main-header {
  display: flex;
}

.logo {
  width: 140px;
  margin-left: 70px;
  margin-right: 14px;
  margin-bottom: -10px;
  z-index: 1;
}

.navigation-list, .advantages-list, .services-list, .social-links-list,
.breadcrumbs, .catalog-filter-list, .view-mode-list, .hotel-list, .pagination {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-main {
  max-width: 550px;
}

.navigation-user {
  max-width: 420px;
  margin-right: 70px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-user .user-btn {
  padding: 8px 34px;
}

.user-btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.favorites-amount {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #fff;
  background-color: #7DB54F;
}

.main-index {
  text-align: center;
}

.hero {
  background-image: url(../images/hero-background.jpg);
  background-color: #9cd8ff;
}

.hero-image {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero .section-head {
  background-color: #fff;
  padding-top: 69px;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.section-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333;
}
.hero .section-description {
  margin-bottom: 69px;
}

.advantages, .services .section-description {
  margin-bottom: 64px;
}

.advantages-list, .services-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-content, .services-item {
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  padding: 102px 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-title, .services-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.advantages-title {
  margin-bottom: 62px;
}

.services-title {
  margin-bottom: 30px;
}

.advantages-description, .services-description {
  color: #333;
  margin: 0;
}

.advantages-item-extended .advantages-description {
  color: #fff;
}

.advantages-item, .services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:not(.advantages-item-extended):nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-extended {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  background-color: #82B3D3;
  color: #fff;
}

.advantages-item-extended:last-child {
  flex-direction: row-reverse;
}

.services, .deals {
  margin-bottom: 96px;
}

.deals .section-description, .subscription .section-description {
  margin-bottom: 54px;
}

.deals .user-btn {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.subscription {
  background-image: url(../images/subscribe-background.jpg);
  background-color: #ca9f8a;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscription .section-description {
  color: #fff;
}

.subscription-form {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: 52px;
  width: 684px;
  margin: 0 auto;
}

.subscription-form input[type="email"],
.subscription-form input[type="submit"] {
  border: none;
}

.subscription-form input[type="email"] {
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
  line-height: 24px;
}

.subscription-inner input[type="email"] {
  background-color: #f2f2f2;
}

.subscription-form input[type="submit"] {
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 30px;
}

.social-links-list {
  max-width: 150px;
  display: flex;
  flex-wrap: wrap;
}

.social-links {
  margin-left: 70px;
}

.academy-link {
  margin-right: 70px;
}

.social-link {
  display: block;
  min-width: 47.33px;
  min-height: 40px;
  background-position: center;
}

.vk {
  background-image: url(../images/vk.svg);
  background-repeat: no-repeat;
}

.tg {
  background-image: url(../images/telegram.svg);
  background-repeat: no-repeat;
}

.youtube {
  background-image: url(../images/youtube.svg);
  background-repeat: no-repeat;
}

.footer-phone-number {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
}

.footer-phone-link {
  display: block;
  text-decoration: none;
  color: #000;
}

.filter-container {
  background-color: #756157;
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 70px;
  padding-top: 35px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  display: block;
  margin-right: 28px;
  min-width: 13px;
  min-height: 15px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: inherit;
}

.catalog-filter-form {
  display: flex;
}

.filter-buttons button {
  display: block;
  width: 191px;
}

.catalog-filter-group {
  border: none;
  width: 150px;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.price-group {
  width: 288px;
  margin-left: auto;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.apply-btn, .favorites-btn {
  background-color: #82B3D3;
}

.reset-btn {
  background-color: transparent;
}

.search-results {
  background-color: #fff;
  box-sizing: border-box;
  padding: 50px 70px 60px 70px;
}

.search-results-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
}

.results-sort {
  display: flex;
  margin-bottom: 40px;
}

.view-mode-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  gap: 8px;
  max-width: 180px;
}

.view-mode-link {
  display: block;
  min-width: 48px;
  min-height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
}

.cards-mode {
  background-image: url(../images/view-icon-cards.svg);
}

.slider-mode {
  background-image: url(../images/view-icon-slider.svg);
}

.list-mode {
  background-image: url(../images/view-icon-list.svg);
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 60px;
}

.hotel-item {
  width: 340px;
  padding: 20px;
  display: grid;
  grid-template-areas:
    "hotel-link hotel-link"
    "hotel-type price"
    "more favorites"
    "stars rating";
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 16px;
  box-sizing: border-box;
  box-shadow: 1px 1px #e5e5e5, -1px -1px #e5e5e5;
  border-radius: 4px;
}

.hotel-item a {
  text-decoration: none;
}

.hotel-item p {
  margin: 0;
}

.hotel-link {
  grid-area: hotel-link;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
}

.hotel-title {
  margin: 0;
}

.hotel-type {
  grid-area: hotel-type;
}

.hotel-min-price {
  grid-area: price;
  justify-self: end;
}

.hotel-more-link {
  grid-area: more;
}

.favorites-btn {
  grid-area: favorites;
}

.hotel-stars {
  grid-area: stars;
  background-repeat: no-repeat;
  background-position-y: center;
}

.hotel-stars-two {
  background-image: url(../images/2-stars.svg);
}

.hotel-stars-three {
  background-image: url(../images/3-stars.svg);
}

.hotel-stars-four {
  background-image: url(../images/4-stars.svg);
}

.hotel-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.hotel-type, .hotel-min-price {
  color: #333;
}

.hotel-more-link, .favorites-btn,
.hotel-stars, .hotel-rating {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.favorites-in {
  background-color: #7DB54F;
}

.hotel-rating {
  color: #333;
  background-color: #F2F2F2;
  grid-area: rating;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link {
  min-width: 60px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 12px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000;
  background-color: #f2f2f2;
}

.pagination-link-separator {
  color: #000;
  background-color: transparent;
}

.subscription-inner {
  background-image: none;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.subscription-inner .section-description {
  color: #333;
}
