@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-index, .main-inner {
  flex-grow: 1;
}

.main-header, .main-index {
  background-color: #fff;
}

.main-header {
  display: flex;
}

.logo {
  width: 140px;
  margin-left: 70px;
  margin-right: 14px;
  margin-bottom: -9px;
  z-index: 1;
}

.navigation-list, .advantages-list, .services-list, .social-links-list,
.breadcrumbs, .catalog-filter-list, .view-mode-list, .hotel-list, .pagination {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-main {
  max-width: 550px;
}

.navigation-user {
  max-width: 420px;
  margin-right: 70px;
}

.navigation-link {
  display: block;
  padding: 20px 12px;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}

.navigation-main .navigation-link {
  position: relative;
}

.navigation-main .navigation-link::after {
  position: absolute;
  content: "";
  right: 12px;
  left: 12px;
  bottom: 0;
  border: none;
  margin-bottom: -1px;
}

.navigation-main .current-page::after,
.navigation-main .navigation-link:hover::after,
.navigation-main .navigation-link:focus::after {
  border-bottom: 2px solid #756257;
}

.navigation-main .navigation-link:focus {
  outline: none;
}

.navigation-user .navigation-link {
  position: relative;
  min-width: 20px;
  min-height: 20px;
}

.navigation-user-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000;
}

.navigation-user .navigation-link:focus {
  outline: none;
}

.navigation-user .navigation-link:hover .navigation-user-icon,
.navigation-user .navigation-link:focus .navigation-user-icon {
  fill: #756157;
}

.navigation-user .navigation-link:active .navigation-user-icon {
  opacity: 0.3;
}

.favorites {
  position: relative;
}

.user-btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.navigation-user .user-btn {
  padding: 8px 34px;
  margin-left: 20px;
}

.btn-brown:hover, .btn-brown:focus {
  background-color: #615048;
  outline: none;
}

.btn-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.btn-blue:hover, .btn-blue:focus {
  background-color: #68A2CA;
  outline: none;
}

.btn-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.favorites-amount {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #fff;
  background-color: #7DB54F;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 20px;
}

.main-index {
  text-align: center;
}

.hero {
  background-image: url(../images/hero-background.jpg);
  background-color: #9cd8ff;
}

.hero-image {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero .section-head {
  background-color: #fff;
  padding-top: 69px;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.section-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333;
}
.hero .section-description {
  margin-bottom: 69px;
}

.advantages, .services .section-description {
  margin-bottom: 64px;
}

.advantages-list, .services-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-content, .services-item {
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  padding: 102px 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-item {
  padding-bottom: 81px;
  padding-top: 81px;
  justify-content: end;
  background-repeat: no-repeat;
  background-position: 50% 81px;
}

.housing {
  background-image: url(../images/home.svg);
}

.food {
  background-image: url(../images/food.svg);
}

.souvenir {
  background-image: url(../images/souvenir.svg);
}

.advantages-title, .services-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.advantages-title {
  position: relative;
  margin-bottom: 62px;
}

.advantages-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
}

.advantages-item-extended .advantages-title::after {
  border-color: rgba(255, 255, 255, 0.3)
}

.services-title {
  margin-bottom: 30px;
}

.advantages-description, .services-description {
  color: #333;
  margin: 0;
}

.advantages-item-extended .advantages-description {
  color: #fff;
}

.advantages-item, .services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:not(.advantages-item-extended):nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-extended {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  background-color: #82B3D3;
  color: #fff;
}

.advantages-item-extended:last-child {
  flex-direction: row-reverse;
}

.services, .deals {
  margin-bottom: 96px;
}

.deals .section-description, .subscription .section-description {
  margin-bottom: 54px;
}

.deals .user-btn {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.subscription {
  background-image: url(../images/subscribe-background.jpg);
  background-color: #ca9f8a;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscription .section-description {
  color: #fff;
}

.subscription-form {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: 52px;
  width: 684px;
  margin: 0 auto;
}

.subscription-form input[type="email"],
.subscription-form input[type="submit"] {
  border: none;
}

.subscription-form input[type="email"] {
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
  line-height: 24px;
}

.subscription-inner input[type="email"] {
  background-color: #f2f2f2;
}

.subscription-form input[type="email"]:hover,
.subscription-form input[type="email"]:focus-visible {
  outline: 3px solid #83B3D3;
}

.subscription-form input[type="submit"] {
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 30px;
}

.social-links-list {
  max-width: 150px;
  display: flex;
  flex-wrap: wrap;
}

.social-links {
  margin-left: 70px;
}

.academy-link {
  position: relative;
  width: 115px;
  height: 40px;
  margin-right: 70px;
}

.social-link {
  position: relative;
  display: block;
  min-width: 47.33px;
  min-height: 40px;
  background-position: center;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #68A2CA;
}

.social-link:focus {
  outline: none;
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone-number {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
}

.footer-phone-link {
  display: block;
  text-decoration: none;
  color: #000;
}

.footer-phone-link:hover, .footer-phone-link:focus {
  color: #756157;
  outline: none;
}

.footer-phone-link:active {
  opacity: 0.3;
}

.academy-link-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000;
}

.academy-link:focus {
  outline: none;
}

.academy-link-img:hover, .academy-link:focus .academy-link-img {
  fill: #756157;
}

.academy-link-img:active {
  opacity: 0.3;
}

.filter-container {
  background-color: #756157;
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 70px;
  padding-top: 35px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 20px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  right: 10px;
}

.breadcrumbs-link {
  display: block;
  margin-right: 28px;
  min-width: 13px;
  min-height: 20px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: none;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.main-breadcrumb {
  background-image: url(../images/breadcrumbs-main.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}

.catalog-filter-form {
  display: flex;
}

.filter-buttons {
  padding-top: 56px;;
}

.filter-buttons button {
  display: block;
  width: 191px;
  padding: 8px 0;
  margin-bottom: 32px;
}

.catalog-filter-group {
  border: none;
  width: 150px;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.price-group {
  width: 288px;
  margin-left: auto;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.control {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 23px;
  padding-left: 36px;
  margin-bottom: 16px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 4px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"]:checked + .control-mark {
  background-image: url(../images/radio.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control:hover {
  opacity: 0.6;
}

.control-input:focus-visible + .control-mark {
  outline: 3px solid #83B3D3;
}

.control:active {
  opacity: 0.3;
}

.control-input:active + .control-mark {
  outline: none;
}

.price-filter {
  display: flex;
  column-gap: 2px;
  margin-bottom: 36px;
}

.price-input {
  width: 143px;
  padding: 12px 20px;
  padding-right: 40px;
  box-sizing: border-box;
  background-color: #fff;
  border: none;
  font-family: inherit;
  font-weight: 700;
  line-height: 24px;
}

.price-input:hover {
  background-color: #e5e5e5;
}

.price-input:focus {
  background-color: #e5e5e5;
  outline: 3px solid #83B3D3;
}

.min-price {
  border-radius: 4px 0 0 4px;
}

.max-price {
  border-radius: 0 4px 4px 0;
}

.price-control-title {
  position: relative;
}

.price-control-title span {
  position: absolute;
  line-height: 24px;
  color: #333;
  right: 20px;
  top: 12px;
  transform: translateY(-50%);
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #fff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:focus-visible {
  background-color: #e5e5e5;
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.apply-btn, .favorites-btn {
  background-color: #82B3D3;
}

.reset-btn {
  background-color: transparent;
}

.reset-btn:hover {
  opacity: 0.6;
}

.reset-btn:focus-visible {
  outline: 3px solid #83B3D3;
}

.reset-btn:active {
  opacity: 0.3;
}

.search-results {
  background-color: #fff;
  box-sizing: border-box;
  padding: 50px 70px 60px 70px;
}

.search-results-title {
  max-width: 500px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

.select-control {
  width: 292px;
  margin-right: 70px;
  margin-left: auto;
  padding: 14px 20px;
  padding-right: 32px;
  background: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-family: inherit;
  line-height: 23px;
  color: #333;
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.select-control:hover, .select-control:focus-visible {
  border-color: #68A2CA;
  outline: none;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  opacity: 0.3;
}

.results-sort {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.view-mode-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 180px;
}

.view-mode-link {
  display: block;
  min-width: 48px;
  min-height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
}

.current-mode, .view-mode-link:hover {
  border-color: #000;
}

.view-mode-link:focus {
  outline: none;
  border-color: #68A2CA;
}

.view-mode-link:active {
  border-color: #000;
}

.cards-mode {
  background-image: url(../images/view-icon-cards.svg);
}

.slider-mode {
  background-image: url(../images/view-icon-slider.svg);
}

.list-mode {
  background-image: url(../images/view-icon-list.svg);
}

.hotel-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;
}

.hotel-list::after {
  position: absolute;
  content: "";
  height: 0;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  bottom: -40px;
}

.hotel-item {
  width: 340px;
  padding: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px #e5e5e5;
  border-radius: 4px;
}

.hotel-item a {
  text-decoration: none;
  word-wrap: break-word;
}

.hotel-item p {
  margin: 0;
  word-wrap: break-word;
}

.hotel-link {
  grid-column: 1 / -1;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
}

.hotel-title {
  margin: 0;
}

.hotel-min-price {
  justify-self: end;
}

.hotel-stars {
  background-repeat: no-repeat;
  background-position-y: center;
}

.hotel-stars-two {
  background-image: url(../images/2-stars.svg);
}

.hotel-stars-three {
  background-image: url(../images/3-stars.svg);
}

.hotel-stars-four {
  background-image: url(../images/4-stars.svg);
}

.hotel-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.hotel-type, .hotel-min-price {
  color: #333;
}

.hotel-more-link, .favorites-btn,
.hotel-stars, .hotel-rating {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.favorites-in {
  background-color: #7DB54F;
}

.favorites-in:hover, .favorites-in:focus {
  background-color: #6C9E42;
  outline: none;
}

.favorites-in:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}

.hotel-rating {
  color: #333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link {
  min-width: 60px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 12px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000;
  background-color: #f2f2f2;
}

.pagination-link-separator {
  color: #000;
  background-color: transparent;
}

.subscription-inner {
  background-image: none;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.subscription-inner .section-description {
  color: #333;
}
